body {
    font-family: Arial, sans-serif;
    background-color: #f65f5f;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fdf5e6;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
  }

  span {
    white-space: normal;
    word-break: break-all;
    flex-grow: 1;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  button {
    background-color: rgb(77, 77, 77);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(77, 77, 77);
    box-shadow: 0 0 5px rgb(50, 50, 50);
  }
  